<h2>Order History</h2>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Gateway</th>
      <th>Order ID</th>
      <th>Amount</th>
      <th>Currency</th>
      <th>Status</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% orders.forEach(order => { %>
      <tr>
  <td data-label="Gateway"><%= order.gateway %></td>
  <td data-label="Order ID"><%= order.orderId %></td>
  <td data-label="Amount"><%= (order.amount / 100).toFixed(2) %></td>
  <td data-label="Currency"><%= order.currency %></td>
  <td data-label="Status"><%= order.status %></td>
  <td data-label="Date"><%= order.createdAt.toDateString() %></td>
</tr>
    <% }) %>
  </tbody>
</table>
</div>